## Deliverable 3. Create a Travel Itinerary Map.

In [59]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Arraial Do Cabo,BR,73.45,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
1,13,Atuona,PF,79.29,clear sky,-9.8000,-139.0333,Villa Enata
2,20,Kaduna,NG,77.27,broken clouds,10.5222,7.4383,HAMDALA HOTEL
3,21,Hithadhoo,MV,84.94,overcast clouds,-0.6000,73.0833,Scoop Guest House
4,23,Rikitea,PF,76.78,moderate rain,-23.1203,-134.9692,People ThankYou
5,24,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
6,26,Saint-Philippe,RE,74.79,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
7,27,Caloundra,AU,72.90,overcast clouds,-26.8000,153.1333,Watermark Resort Caloundra
8,36,Sao Felix Do Xingu,BR,70.09,few clouds,-6.6447,-51.9950,Rio Xingu Camping
9,37,Hilo,US,78.53,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [93]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt> Current Description</dt><dd>{Current Description}</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [94]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Atuona")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Atuona")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Kaduna")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Rikitea")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Hilo")]

In [96]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_df.loc[(vacation_df["City"]=="Atuona")].to_numpy()
end = vacation_df.loc[(vacation_df["City"]=="Atuona")].to_numpy()
stop1 = vacation_df.loc[(vacation_df["City"]=="Kaduna")].to_numpy()
stop2 = vacation_df.loc[(vacation_df["City"]=="Rikitea")].to_numpy()
stop3 = vacation_df.loc[(vacation_df["City"]=="Hilo")].to_numpy()

print(start,stop1,stop2,stop3)

[[13 'Atuona' 'PF' 79.29 'clear sky' -9.8 -139.0333 'Villa Enata']] [[20 'Kaduna' 'NG' 77.27 'broken clouds' 10.5222 7.4383 'HAMDALA HOTEL']] [[23 'Rikitea' 'PF' 76.78 'moderate rain' -23.1203 -134.9692
  'People ThankYou']] [[37 'Hilo' 'US' 78.53 'overcast clouds' 19.7297 -155.09
  'Hilo Hawaiian Hotel']]

In [97]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#lat and longitude pairs
Atuona = (-9.8000, -139.0333)
Kaduna = (10.5222, 7.4383)
Rikitea = (-23.1203, -134.9692)
Hilo = (19.7297, -155.0900)

fig = gmaps.figure()
Travel_df = gmaps.directions_layer(
        Atuona, Rikitea, waypoints=[Kaduna],
        travel_mode='DRIVING')
fig.add_layer(Travel_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# 8. To create a marker layer map between the four cities.

fig = gmaps.figure()
Travel_df = gmaps.directions_layer(
        Atuona, Rikitea, waypoints=[Kaduna],
        travel_mode='DRIVING')
fig.add_layer(Travel_df)
fig.add_layer(marker_layer)
fig
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

ValueError: No objects to concatenate

In [101]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt> Current Description</dt><dd>{Current Description}</dd>
</dl>


"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

NameError: name 'itinerary_df' is not defined

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure